


.footer-container{
    background-image: url(../../assets/images/dark-wood.png);
	display:flex;
	flex-wrap: wrap;
	padding: 2rem;

	.contact-info{
		flex-basis: 25%;
		color: white;
		h3{
			color:#d99054;
		}
		a{
			text-decoration: none;
			color: white;
			&:hover{
				text-decoration: underline;
			}
		}

		.fa-icons{
			font-size: 1.2rem;
			letter-spacing: 2px;
		}
	}
	.business-hours{
		flex-basis: 25%;
		color: white;
		h3{
			color:#d99054;
		}
	}
	.logo3{
		flex-basis:50%;
		display:flex;
		justify-content: flex-end;
		img{
			width: 300px;
			height: 100px;
		}
	}
	.site-info{
		flex-basis: 100%;
		display: flex;
		justify-content: center;
		a{
			color: white;
			text-decoration: none;
			margin-top: 3rem;
		}
		

	}

}
