.home {





	.home-banner{
		background-image: url("../../assets/images/home-hero.jpg");
		background-size: cover;
		background-position: center;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-content: center;
		
	}

	.content-container{
		max-width: 1120px;
		margin-left: auto;
		margin-right: auto;

	.shop-stuff{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		.section-title{
			flex-basis: 100%;
			text-align: center;
			margin: 2.5rem;
		}

		.shop-stuff-box-set{
			min-width: 1120px;
			text-align: center;
			display: flex;
			justify-content: space-evenly;


			.shop-stuff-box{
				flex-basis: 23%;
				border: 1px solid grey;
				border-top: 4px solid grey;
				text-align: center;
				padding: 10px;
				
			
				.stuff-box-icon{
					width: 70px;
				}
		
				p{
					
					
					.btn{
						background-color:#248a83;
						color: white;
						padding: 0.8rem 1.5rem;
						text-decoration: none;
						text-transform: uppercase;
						font-family: Novecento Sans Web,sans-serif;
						font-size: 0.9rem;
					}
					
				}
				
				
			}
		}	

		
	}

	.inhabitent-journal-container{
		display: flex;
		flex-wrap: wrap;
		
		.section-title{
			flex-basis: 100%;
			text-align: center;
			margin: 2.5rem;
		}

		.set-of-article-boxes{
			flex-basis:100%;

			display: flex;
			margin: 0;
			padding:0;
			justify-content: space-evenly;

		
			.journal-article{
				list-style: none;
				border: 1px solid #e1e1e1;
				flex-basis: 31.5%;
				
				height: 400px;
				
				.journal-article-image{
					height: 55%;
					background-color: green;
						img{
							height:100%;
						}
				}
				.journal-article-info{
					height: 45%;
					padding: 0.9rem;
					border-top: 4px solid grey;
					display: flex;
					flex-direction: column;
					justify-content: space-between;


					
						.journal-article-title{
							color: #248a83;
							font-size:1.3rem;
							text-transform: uppercase;
							font-family: Novecento Sans Web,sans-serif;
							margin:0;
							

						}
						.article-meta{
							font-size:0.7rem;
							margin:0;
						}
						
						.btn-transparent{
							padding: 0.4rem 1.2rem;
							text-decoration: none;
							text-transform: uppercase;
							font-family: Novecento Sans Web,sans-serif;
							font-size: 0.9rem;	
							color: #404040;
							border: 1px solid #404040;	
							margin-right: auto;	
						}
					
					
				}

			}
		}

	}

	.adventures-container{
		display: flex;
		flex-wrap: wrap;
		
		.section-title{
			flex-basis: 100%;
			text-align: center;
			margin: 2.5rem;
		}

		.adventure-stories{
			justify-content: center;
			list-style: none;
			margin: 0;
			padding: 0;
			flex-basis: 100%;

			display: grid;
			grid-template-columns: repeat(4, 23%);
			grid-template-rows: 250px 250px;

			// padding: 2%;
			gap: 17px;

			.box1{
				grid-column: 1/3;
				grid-row: 1/3;
				background-color: greenyellow;

			}
			.box2{
				grid-column: 3/5;
				grid-row: 1/2;
				background-color: lightgreen;
			}
			.box3{
				grid-column: 3/4;
				grid-row: 2/3;
				background-color: olive;
			}
			.box4{
				grid-column: 4/5;
				grid-row: 2/3;
				background-color: lawngreen;
			}

			form{
				
				input{
					background-color: transparent;
					text-shadow: none;
					box-shadow: none;
					border-radius: 0px;
					color: balck;
					border: 1px solid black;
					
				}
			}
		

		}
		.btn-more-adventures{
			background-color:#248a83;
						color: white;
						padding: 0.8rem 1.5rem;
						text-decoration: none;
						text-transform: uppercase;
						font-family: Novecento Sans Web,sans-serif;
						font-size: 0.9rem;
						width: 1120px;
						margin-left: 1.2rem;
		}
		
	}


	}





}
// .main-navigation{
// 	z-index: 10000000;
// }
