

.site-header{
	border-bottom: $solid-border;

	.white-logo {
		display: none;		
	}
	.green-logo{
		display:block;
		}

	.main-navigation{
		a{
			color: #248a83;
		}
	}
					
	.search-form{
		border: none;
		display: flex;
		label{
			order:2;
		}
		.fa-search{
			color: #248a83;
		}
	}		
	
	
}

.home,
.page-template-about{

	.site-header{
		.header-container{
			position: absolute;
		}

		.white-logo {
			display: block;		
		}
		.green-logo{
			display:none;
		}
		.main-navigation{
			a{
				color: white;
			}
		}	
		.fa-search{
			color: white;
		}
		
	}
	.banner-stick{
		position:fixed;
		width:100%;
		.header-container{
			background-color: rgba(255, 255, 255, 0.85);
			border-bottom: $solid-border;
			
			

			.main-navigation{
				.menu{
					li{
						a{
							color: #248a83;
						}
					}
					
				}
				.search-form{
					
						.fa-search{
							color: #248a83;
						}
					
					
					
				}
			
			}

		}
		
	}
	
}

.header-container{
	display:flex;
	justify-content: space-between;
	padding: 0 15px;
	// position: absolute;
	width: 100%;

	//nav and search bar
	.main-navigation{
	    flex-basis: 60%; 
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.menu-main-menu-container{
			flex-basis: 65%;
		
			.menu{
				text-transform: uppercase;
				display: flex;
				justify-content: space-evenly;

				// a{
				// 	color: #248a83;
				// }
			
			}
			
		}
		// .search-field-focus{
		// 	opacity: 1
		// }
		// .search-field{
		// 	opacity:0
		// }


		// .search-form{
		// 	flex-basis: 0%;
		// 	transition: 1s;

		// 	.search-field {
		// 		// width: 0;
		// 		// opacity: 0;
		// 		// overflow: hidden;
		// 		display: none;
		// 		// display none and block don't animate between states
		// 	}

		// 	&.open{
		// 		flex-basis: 35%;
		// 		.search-field {
		// 			// width: auto;
		// 			// opacity: 1;
		// 			display: block;
		// 			text-transform: uppercase;
		// 		}
		// 	}
			
		// 	.search-field{
		// 		width: 200px;
		// 	}
			
		// }
	}

	.white-logo,
	.green-logo{
		
		flex-basis: 40%;
		img{
			max-width: 50px;
		}
	}
	
	// .search-form {
		
	// }

}




