

.site-header{

	.white-logo {
		display: none;		
	}
	.green-logo{
		display:block;
		}

	.main-navigation{
		a{
			color: #248a83;
		}
	}	
	.fa-search{
		color: #248a83;
	}
}

.home,
.page-template-about{

	.site-header{

		.white-logo {
			display: block;		
		}
		.green-logo{
			display:none;
		}
		.main-navigation{
			a{
				color: white;
			}
		}	
		.fa-search{
			color: white;
		}
	}
	
}

.header-container{
	display:flex;
	justify-content: space-between;
	padding: 0 15px;
	position: absolute;
	width: 100%;

	//nav and search bar
	.main-navigation{
	    flex-basis: 50%; 
		display: flex;
		justify-content: space-between;
		align-items: center;

		.menu-main-menu-container{
			flex-basis: 65%;
		
			.menu{
				text-transform: uppercase;
				display: flex;
				justify-content: space-evenly;

				// a{
				// 	color: #248a83;
				// }
			
			}
			
		}


		.search-form{
			flex-basis: 35%;
			
		}
	}

	.white-logo,
	.green-logo{
		
		flex-basis: 50%;
		img{
			max-width: 50px;
		}
	}
	
	.search-form fieldset{
		// align-self: center;
		width: 250px;

	}

}




