.site-header{
	border-bottom: $solid-border;
	.white-logo {
		display: none;		
	}
	.green-logo{
		display:block;
		}
	.main-navigation{
		a{
			color: #248a83;
			&:hover{
				color: $brand_purple;
			}
		}
	}
	.search-form{
		border: none;
		display: flex;
		label{
			order:2;
		}
		.fa-search{
			color: #248a83;
			&:hover{
				color: $brand_purple;
			}
		}
	}		
}
.home,
.page-template-about{
	.site-header{
		.header-container{
			position: absolute;
		}
		.white-logo {
			display: block;		
		}
		.green-logo{
			display:none;
		}
		.main-navigation{
			a{
				color: white;
				&:hover{
					color: $brand_yellow;
				}
			}
		}	
		.fa-search{
			color: white;
			&:hover{
					color: $brand_yellow;
				}
		}
	}
	.banner-stick{
		position:fixed;
		width:100%;
		.header-container{
			background-color: rgba(255, 255, 255, 0.85);
			border-bottom: $solid-border;
			.main-navigation{
				.menu{
					li{
						a{
							color: #248a83;
						}
					}
				}
				.search-form{
					.fa-search{
						color: #248a83;
					}
				}
			}
		}
	}
}
.header-container{
	width: 100%;
	.menu-container{
	width: 1120px;
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
		//nav and search bar
		.main-navigation{
			flex-basis: 60%; 
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.menu-main-menu-container{
				flex-basis: 65%;
				.menu{
					text-transform: uppercase;
					display: flex;
					justify-content: space-evenly;
					font-family:  Novecento Sans Web,sans-serif;
					// a{
					// 	color: #248a83;
					// }
				}
			}
			.search-form{
				.search-submit{
					border: none;
					background: transparent;
					box-shadow:none;
					font-size: 1rem;
					
					
				}
				
				.search-field{
					width: 0;
					opacity:0;
					transition: 0.5s;
					text-transform: uppercase;
				}
				.search-active{
					width: 11.5rem;
					opacity:1;
					transition: 0.4s;
				}
			}

		}
		.white-logo,
		.green-logo{
			flex-basis: 40%;
			img{
				max-width: 50px;
			}
		}
}
}
