.main-content{
    line-height: 1.25;
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    
    
    .site-main{
        flex-basis: 72%;
        .entry-title{
            padding: 2rem 0 0 0;
            font-family: Novecento Sans Web,sans-serif;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 3rem;
           
        }

       

        .entry-content{
            width:100%;
            padding-right: 8%;

            iframe{
                width:100%;
            }
            h1{
                padding: 1rem 0;
                font-family: Novecento Sans Web,sans-serif;
                font-size: 2rem;
                letter-spacing: 2px;
            }
            p{
                line-height: 1.75;
            }
            .wpcf7{
                h2{
                   
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-size: 2rem;
                    font-family: Novecento Sans Web,sans-serif;
                }
                p{
                    font-family: Novecento Sans Web,sans-serif;
                    font-size: 1.2rem;
                    span{

                        color: red;
                        textarea,
                        input{
                            color: #666;
                            background: #f4f4f4;
                            border-radius: 0;
                            border: $solid-border;
                            line-height: 1.75;
                            font-size: 1.2rem;
                            margin-top: 0.7rem;
                           
                        }
                    }
                    .wpcf7-submit{
                        text-shadow: none;
                        padding: 5px 26px;
                        border-radius: 0;
                        background: #248a83;
                        box-shadow: none;
                        line-height: 1.75;
                        color: white;
                        text-transform: uppercase;
                        font-family: Novecento Sans Web,sans-serif;
                        font-size: 0.9rem;	
                        
                        border: 1px solid #248a83;	
                        margin-right: auto;	
                        
                    }
                    .wpcf7-submit:hover{
                
                        background-color: #19625d;
                        border-color: #19625d;
                    }

                }
               
            }


        }
    }


    .sidebar{
        
    
        flex-basis: 28%;
        padding-top: 4rem;
        padding-left: 5%;
        border-left: $solid-border;
        line-height: 1.75;

        .widget{
            margin-bottom:3rem;

            .widget-title{
                font-size: 1.5rem;
                font-family: Novecento Sans Web,sans-serif;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        
                
            p{
                display: flex;
                i{
                    line-height: 1.5;
                }

                a{
                    text-decoration: none;
                    
                    margin-left: 10px;
                    font-size: 1.1rem;
                    color: inherit;
                    .colored{
                        color:#248a83;
                    }
                }
            }
            }   
            
        .tent-biz-hours-class{
            font-size: 1.1rem;
            span{
                font-weight: bold;
                padding-right: 5px;

            }

        } 
        .widget_archive{
            ul{
                list-style: none;
                margin-left: 0;
                padding-left: 0;
                a{
                text-decoration: none;
                font-size: 1.1rem;
                color:#248a83;
                }
            }
        }
    
        
        
    }
}


// h1  {
    

    
//     font-size: 12px;
//     font-size: .75rem;
//     line-height: 1;
//     padding: .6rem 1rem .4rem;
   
// }